<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <button mat-flat-button color="accent" [routerLink]="['/']"><mat-icon>arrow_back</mat-icon> Voltar</button>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{produto.nome}}</h2></mat-card-title>
      <mat-card-subtitle>{{produto.descricao}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Preço:</dt>
        <dd>{{produto.preco | currency}}</dd>
        <dt>Atualizado em:</dt>
        <dd>{{produto.data_atualizacao | date}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="teste" [routerLink]="['/editar', produto.id]"><mat-icon>edit</mat-icon> Editar</button>
      <button mat-flat-button color="warn" (click)="deleteProduto(produto.id)"><mat-icon>delete</mat-icon> Excluir</button>
    </mat-card-actions>
  </mat-card>
</div>